$lgtBlue : #7F8AC5;
$green : #13A884;
$medBlue : #4C5AA1;
$white : #ecf1fb;
$darkB : #0C003A;
@mixin phone {
    @media screen and (max-width:480px){
        @content;
        }
    }
    @mixin laptop-lg {
        @media screen and (max-width:1080px){
            @content;
            }
        
    }
    @mixin laptop-xl {
        @media screen and (max-width:2180px){
            @content;
            }
        
    }
    @mixin laptop-md {
        @media screen and (max-width:750px){
            @content;
            }
        }
            @mixin laptop-sm {
                @media screen and (max-width:650px){
                    @content;
                    }
                }
    @mixin hgt{
        @media screen and (max-height:1190px){
            @content;
            }
        }

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("../assets/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: visible;
    background-position-y: -40px;
    @include phone{
        background-size: cover;
    }
    @include laptop-lg{
        background-size: auto 105%;
    }
    @include laptop-xl{
        background-size: auto 105%;
    }
    @include hgt{
        background-size: cover;
    }
    .caption{
        font-size: 98px;
        color: $white;
        font-weight: 990;
        line-height: 85px;
        margin-top: 4rem;
        animation: mymove 3s forwards;
        animation-timing-function: ease;
        @keyframes mymove {
                    from {left: 0px;}
                    to {left: 5rem;}
                    }

        @include laptop-lg{
            
            padding-top: 130px;
        }
        @include phone{
            left: 2rem;
            font-size: 50px;
            margin-top: -80px;
            padding: 0px;
            @keyframes mymove {
                from {left: 0px;}
                to {left: 2rem;}
                }
        }
        div{
            @include laptop-lg{
                font-size: 175px;
                padding-top: 30px;
                line-height: 150px;
            }
            @include phone{
                
                font-size: 80px;
                padding: 0px;
                margin-top: -15px;
            }
            

        }
    }
    .buttonSty{
        background-color:$white;
        height: 70px;
        width: 70px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border: none;
        background-image: url(../assets/Sparrowbird.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40% 50%;
        box-shadow: 3px 6px 5px grey;

        &:focus{
            border: none;
            outline: none;
        }
        @include phone{
            opacity: 0.8;
        }
        @include laptop-lg{
            height: 150px;
            width: 150px;
            border-top-left-radius: 90px;
            border-top-right-radius: 90px;
            border-bottom-left-radius: 90px;
        }
    }
    .button-holder{
        position: absolute;
        bottom: 20px;
        right: 30px;
        @include phone{
            
        }
        @include laptop-lg{
            bottom: -380px;
            right: -15rem;
        }
        @include laptop-md{
            bottom: -390px;
            right: -18rem;

        }
    }
    .forms{
        .init-form-holder{
            display: none;
            background-color: $white;
            position: fixed;
            bottom: 110px;
            right: 40px;
            height: 320px;
            width: 390px;
            border-radius: 7px;
            padding-top: 10px;
            @include phone{
                height: 350px;
            }
            @include laptop-lg{
                bottom: 310px;
                right: 140px;
                padding-top: 10px;


            }
            
            .init-form{
                justify-content: center;
                height: 50px;
            
                .upper{
                    background-color: $lgtBlue;
                    border-radius: 8px;
                    color: $white;
                    padding: 25px;
                    height: 125px;
                    width: 343px;
                    margin-top: 8px;
                    @include phone{
                        p{
                            font-size: 20px;
                        }
                    }
                    
                }
                .lower1{
                    margin-top: 16px;
                    border-radius: 8px;
                    color: $darkB;
                    padding: 22px;
                    line-height: 8px;
                    height: 80px;
                    width: 333px;
                    @include phone{
                        height: 180px;
                    }
                    
                    .start{
                        background-color: $green;
                        border: none;
                        color: $white;
                        height: 50px;
                        width: 233px;
                        border-radius: 38px;
                        padding-right: 20px;
                        padding-left: 20px;
                        margin-top: 8%;
                        &:focus{
                            outline: none;
                            border: none;
                        }
                        
                     }   
                }
                
            }
        }
            .chat-holder{
                display:none;
                background-color: $white;
                position: fixed;
                bottom: 110px;
                right: 40px;
                height: 420px;
                width: 420px;
                border-radius: 7px;
                padding-top: 10px;
                @include laptop-lg{
                    bottom: 310px;
                    right: 140px;
                    
                    padding-top: 10px;
    
                }
                
                .chat-form{
                    justify-content: center;
                    height: 50px;
                    .upper{
                        background-color: $lgtBlue;
                        border-radius: 8px;
                        color: $white;
                        padding: 15px;
                        height: 100px;
                        width: 383px;
                        margin-top: 8px;
                    }
                    .lower{
                        overflow-y:auto;
                        border-radius: 8px;
                        color: $white;
                        height: 200px;
                        width: 383px;
                        margin-top: 8px;
                        margin-bottom: 8px;
                        
                        .messageUser{
                            align-items: center;
                            justify-content: center;
                            padding: 15px;
                            background-color: $medBlue;
                            color: $white;
                            width:fit-content;
                            height: fit-content;
                            top: 20px;
                            right: 10px;
                            margin-left: auto;
                            margin-right: 10px;
                            margin-top: 10px;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            border-bottom-left-radius: 10px;

                        }
                        .messageBot{
                            align-items: center;
                            justify-content: center;
                            padding: 15px;
                            background-color: lightgray;
                            color: $darkB;
                            width:fit-content;
                            height:fit-content;
                            top: 17px;
                            right: 10px;
                            margin-right: 90px;
                            margin-left: 10px;
                            margin-top: 10px;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;

                        }
                    }

                   }
            }

        }

    }
    .brand{
        padding: 0px;
        margin: 3px;
        img{
            height: 15px;
            width: 15px;
            margin: inherit;
        }
        p{
            font-size: 12px;
            padding-left: 15px;
            margin: inherit;
            
        }
    }
    .userMsg{

        box-sizing: border-box;
        border-top: 2px solid #ccc;
        
        font-size: 16px;
        padding: 12px 24px 12px 40px;
        width: 400px;
        margin-top: 0px;
        
        input {
            border: none;
            outline: none;
            width: 300px;
            background-color: $white;
            
            &:focus{
                border: none;
                outline: none;
                
            }
            @include phone{
                width: 300px;
            }
            
        
    }
        button{
            border: none;
            opacity: 0.6;
            &:focus{
                border: none;
                outline: none;
            }
            
                @include phone{
                    right: 0;
                    align-items: flex-end;

                }
            
        
        } 
        
    }




    
    
header{
    display: flex;
    height: 120px;
    color: $white;
    
    @include phone{
            height: 350px;
    }
   .navbar-brand-cont{
       flex: 0.65;
       justify-content: center;
       
       p{
        width: fit-content;
        font-weight: bolder;
        font-size: 28px;
        letter-spacing: 2px;
        margin: 0px;
        margin-left: 5rem;
        margin-top: 3rem;
        padding: 0px;
        @include phone{
            margin-left: 2rem;
        margin-top: 1rem;

        }
        @include laptop-sm(){
            margin-left: 2rem;
        margin-top: 1rem;
        font-size: 60px;

    }
       
}
   }
    .navbar{
        float: right;
        flex: 1.15;
        @include phone{
            margin-left: -40%;
        }
    


    nav{
        margin: 0;


        ul{ 
            list-style: none;
            margin: 0;
            padding: 0;
            width: 210%;
        
            @include phone{
                margin-top: -24px;
                margin-left: -22px;
            }
            @include laptop-sm{
                margin-top: -374px;
                margin-left: -72px;
            }
            

            li{ padding: 4%;
                display: inline-block;
                font-size: 18px;
                margin-right: 10px;
                @include phone{
                    display: block;
                    padding: 2%;
                    font-weight: bold;
                    
                }
                @include laptop-sm{
                    display: block;
                    padding: 2%;
                    font-weight: bold;

                }
                
                a{
                    display: inline-block;
                    color: $white;
                    
                    &:focus{
                        text-decoration: none;
                    }
                    &:hover{
                        font-size: 20px;
                        animation: 1s ease;
                        text-decoration: none;
                    }
                    
                   
                    
                }
                &.active{
                    a{
                        color: $darkB;
                        background-color: $white;
                        border-radius: 1.5em;
                        font-weight: 600;
                        padding: 5px 28px 5px;
                        margin-left: 10px;
                        @include phone{
                            margin-left: 120%;
                            opacity: 0.6;
                            font-weight: 600;
                            padding: 15px 28px 15px;
                        }
                    }
                    
                }
            }
        }
    }
}
}

